<h2><%= @user.username %></h2>

<%= link_to "Make Goal", new_goal_url if current_user %>

<h4> Goals: </h4>
<% @user.goals.each do |goal| %>
  <%= goal.description %><br>
  <%= "private" if goal.pprivate %><br>
  <%= render 'goals/done_button', goal: goal %><br>
<% end %>
